@import 'variable';

a{color: $acolor;text-decoration: none}
.link{cursor: pointer; color: $acolor}
a:hover,a:active,.link:hover{color: $green;text-decoration:none;cursor: pointer}

.container{
    position: relative;
}

.clearfix{
    &:before,&:after{
        content: '';
        display: table;
    }
    &:after{
        clear: both;
    }
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.gray{
    color: gray;
}

body{
    background: #f5f5d5;
}

.chunk{
    padding: 15px;
    .btn{
        margin: 5px;
    }
}
.top-content{
    text-align: right;
    line-height: 28px;
    min-height: 30px;
    margin-bottom: 10px;
    .link{
        margin: 0 5px;
    }
}
.line{
    padding: 15px 0;
    font-size: 14px;
    line-height: 1.2em;
    border-bottom: 1px dashed rgba(0,0,0,.1);
  }
.line-end{
    text-align: center;
    letter-spacing: 3px;
    color: gray;
}

.brand{
    line-height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

pre{
    padding: 10px;
    background-color: #ddd;
    border-radius: 4px;
    margin-top: 10px; 
}
.article{
    padding: 30px 5px;
    line-height: 1.5em;
    font-size: 1.2rem;
}
.m-button-group{
    .btn{
        margin: 5px;
    }
}
.form-control.open+.dropdown-hint{
    display: block;
}
.dropdown-hint{
    display: none;
    position: absolute;
    top: 100%;
    left: 15px;
    width: 90%;
    z-index: 9;
    .list-group{
        border: 1px solid #ddd;
    }
    .list-group-item{
        cursor: pointer;
    }
}
.header{
    height: 120px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select{
    padding: 6px;
    border: 1px solid #fff;
    border-radius: 6px;
}
.noborder{
    border: none;
}
.loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    color: #333333;
    background: rgba(0,0,0,.1);
    text-align: center;
}
.toast{
    @extend .loader;
    color: #ffffff;

    &.success{
        background: #4cd964;
    }

    &.error{
        background: #f6383a;
    }

    &.warn{
        background: #f60;
    }
}