.console-index-page{
    .menu-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .delete-btn{
        font-size: 14px;
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 4px;
        &:hover{
            border-color: #666666;
        }
    }
}