.console-index-page{
    .menu-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .delete-btn{
        font-size: 14px;
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 4px;
        &:hover{
            border-color: #666666;
        }
    }
    .tag{
        position: relative;
    }
    .open + .dropdown-view{
        display: block;
    }
    .dropdown-view{
        display: none;
        position: absolute;
        top: 30px;
        left: 0;
        width: 79%;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        z-index: 10;
        
        .dropdown-line{
            line-height: 26px;
            padding: 0 10px;
            cursor: pointer;
            &:hover{
                background: #f3f3f3;
            }
        }
    }
}