@import 'variable';
@import 'base.scss';
@import 'common.scss';
@import 'overflow.scss';

body{
    background: #f5f5d5;
}

.chunk{
    padding: 15px;
    .btn{
        margin: 5px;
    }
}
.top-content{
    text-align: right;
    line-height: 28px;
    min-height: 30px;
    .link{
        margin: 0 5px;
    }
}
.line{
    padding: 15px 0;
    font-size: 1.3rem;
    border-bottom: 1px dashed rgba(0,0,0,.1);
  }
.line-end{
    text-align: center;
    letter-spacing: 3px;
    color: gray;
}

.brand{
    margin-right: 10px;
}

pre{
    background-color: #ddd;
    border-radius: 4px;
    margin-top: 10px; 
}
.article{
    padding: 30px 5px;
    line-height: 1.5em;
    font-size: 1.2rem;
}
.m-button-group{
    .btn{
        margin: 5px;
    }
}
.form-control.open+.dropdown-hint{
    display: block;
}
.dropdown-hint{
    display: none;
    position: absolute;
    top: 100%;
    left: 15px;
    width: 90%;
    z-index: 9;
    .list-group{
        border: 1px solid #ddd;
    }
    .list-group-item{
        cursor: pointer;
    }
}
.header{
    height: 120px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


